<%= message_block %>

<div class="leftcolumn">
  <div id="aboutframe">
    <h1>What is it?</h1>
    <img src="/images/board_example.png">
    <p>
      Go Play! is an online web application for playing the <a href="http://en.wikipedia.org/wiki/Go_(board_game)">Go board game</a> with other players on the internet. 
      Go Play! is heavily interactive using the best of current web technology for a seamless playing experience.
      This application supports supports several advanced features:
    </p>
    
    <hr />
    
    <h2>Play Multiple Games at Once</h2>
    <h4>For the multitaskers...</h4>
    <p>
      Go Play! allows you to engage in multiple games at once.  On your dashboard several game invites may come in 
      and be listed in your game invites list.  Accept a game invite, and the Go game opens in a new window, allowing 
      you to play separate games with different people in separate windows.
    </p>
    
    <h2>Thorough Understanding of Go Rules</h2>
    <h4>This is for real...</h4>
    <p>
      Go Play has a thorough understanding of the way Go works from a programmatic perspective, with 
      data structures and algorithms derived from GnuGo, a powerful Go AI engine.  While Go Play! does not currently 
      support any AI functions, it's format-decoupled REST interface allows for all sorts of programmatic functionality.
    </p>
    
    <h2>Strongly-Engineered Back-End</h2>
    <h4>If you really even care...</h4>
    <p>
      Go Play! was written using some of the most powerful and dynamic tools in modern web application development 
      and is architected using strong object-oriented concepts and solid software engineering principles such as 
      low coupling and high on abstractions.  
    </p>
    <p>
      Go Play! ultimately uses the ruby-go Ruby library which was developed by the author of this application 
      to be used with it (but may be used in other projects).
    </p>
  </div>
  
</div>

<div class="rightcolumn">
  <h1>Login</h1>
  
  <div class="formbox">
    
    <% form_tag(:action => url(:session)) do %>
      <fieldset>
        <p><%= text_field :name => :login, :label => 'Username:' %></p>
        <p><%= password_field :name => :password, :label => 'Password:' %></p>
        <p><%= submit_field :value => 'Login' %>
      </fieldset>
    <% end %>
    
    <p>&raquo; Don't have an account? <a href="<%= url(:new_user) %>">Register</a></p>
    
  </div>
</div>

<div style="clear: both"></div>
