<script language="JavaScript">
$(document).ready(function() {
  events = new RemoteEventsListener('/users/current/events');
  
  gameInvitesClient = new GameInvitesClient('inviteslist', events);
  chatClient = new ChatClient('messageslist', events);
  userListClient = new UserListClient('userslist', events);
  
  $('#send_message_form').ajaxForm(function() {
    $(this).clearForm();
  });
  
});
</script>

<div class="leftcolumn">
  <div id="inviteslist">
  </div>
  
  <h1>Active Users</h1>
  
  <div id="userslist">
    <% @users.each do |user| %>
    <div class="user" id="user_list_entry_<%= user.id %>">
      <img src="<%= user.gravatar_url %>" />
      <span><%= h user.name %></span>
      <%= h user.description %>
      <br />
      <a href="/games/new?height=400&width=600&opponent_id=<%= user.id %>" title="Challenge <%= user.name %> to Game" rel="facebox">Challenge to Game</a>
    </div>
    <% end %>
  </div>
  
</div>

<div class="rightcolumn">
  
  <h1>Chat</h1>
  <div id="chatbox">
    <div id="messageslist">
      
      <% @messages.each do |message| %>
        <div class="message"><span><%= message.user.name %>:</span> <%= h message.message %></div>
      <% end %>
      
    </div>
    <div id="sendmessage">
      <% form_for :message, :action => url(:messages), :id => 'send_message_form' do %>
        <fieldset>
          <p><%= text_control :message, :style => 'width: 99%' %></p>
          <p><%= submit_field :value => 'Send Message' %></p>
        </fieldset>
      <% end %>
    </div>
  </div>
  
</div>

<div style="clear: both"></div>
