<h1>New Game</h1>

<h2>With:</h2>
<div id="userslist">
  <div class="user">
    <img src="<%= @opponent.gravatar_url %>" />
    <span><%= h @opponent.name %></span>
    <%= h @opponent.description %>
  </div>
</div>

<hr />

<div class="formbox">
  <% form_for :game, :action => url(:games), :id => 'new_game_form' do %>
    <fieldset>
      <%= hidden_field :name => :opponent_id, :value => @opponent.id %>
      <p><%= text_control :board_size, :label => 'Board Size' %></p>
      <p><%= submit_field :value => 'Send Invite' %></p>
    </fieldset>
  <% end %>
</div>

<script language="JavaScript">

$('#new_game_form').ajaxForm({
  dataType: 'json',
  success: function(response) {
    if (!response.errors && response.game_id) {
      window.open('/games/' + response.game_id);
      $('#facebox').fadeOut();
    }
  }
});

</script>