<script language="JavaScript">
$(document).ready(function() {
  events = new RemoteEventsListener('/users/current/events');
  
  chatClient = new ChatClient('messageslist', events, { game_id: <%= @game.id %> });
  goClient = new GoClient('gameboard', events, { 
    board_id: 'gameboard', 
    game_id: <%= @game.id %>,
    color: '<%= @game.color_of(current_user).to_s %>'
  });
  
  $('#send_message_form').ajaxForm(function() {
    $(this).clearForm();
  });
  
  $('#gameboard #controls #show_help a').click(function() {
    $('#gameboard #controls #help').slideToggle('slow');
  });
  
});
</script>

<div class="leftcolumn">
  <h1><%= @game.white_player.name %> vs. <%= @game.black_player.name %></h1>
  
  <%= message_block :on => :user %>
  
  <div id="inviteslist">
    
    <% if @game.status == 'Created' && @game.white_player == current_user %>
    <div id="invitee" class="invite">
      <img src="<%= @opponent.gravatar_url %>" />
      <h4>Awaiting Invite Response From:</h4>
      <span><%= h @opponent.name %></span>
      <%= h @opponent.description %>
      <br style="clear: both" />
    </div>
    <% end %>
    
    <div id="rejectedinvite" class="invite" style="display: none">
      <h4>Invite Rejected</h4>
      <span>Sorry, but your invite was rejected.</span>
      <%= link_to_function 'Close Game Window', 'window.close();' %>
    </div>
    
  </div>
  
  <div id="gameboard">
    <div id="controls">
      <span id="status"></span>
      <span id="captures"></span>
      <span id="errors"></span>
      
      <span id="show_help">&raquo; <a href="#">Show Help</a></span>
      <div id="help" style="display: none">
        <ul>
          <li><strong>Making a Move:</strong> 
            To make a move when it is your turn, simply click on the game board where 
            you would like to place a piece.  
          </li>
          <li><strong>Game End:</strong>
            A game in Go does not end automatically but rather occurs when both players have issued 
            "pass" in succession.  At that point the total score is calculated automatically.
          </li>
        </ul>
      </div>
    </div>
    <div id="svgboard">
    </div>
  </div>
  
</div>

<div class="rightcolumn">
  
  <h1>Chat</h1>
  <div id="chatbox">
    <div id="messageslist">
    </div>
    <div id="sendmessage">
      <% form_for :message, :action => url(:game_messages, :game_id => @game.id), :id => 'send_message_form' do %>
        <fieldset>
          <p><%= text_control :message, :style => 'width: 99%' %></p>
          <p><%= submit_field :value => 'Send Message' %></p>
        </fieldset>
      <% end %>
    </div>
  </div>
  
</div>

<div style="clear: both"></div>
